body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app-logo {
   padding-left: 50px;
}

.sidebar {
   display: flex;
   float: left;
   overflow: 'scroll initial';
}

.side-container {
   padding-top: 30px;
}

.side-row {
   padding: 30px;
}

.react-bootstrap-table thead {
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 1021;
    color: white;
}

.button-container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 8px;
   margin-top: 10px;
   padding: 10px 22px;
 }
 
 .button-container button {
   padding: 2px 6px;
   background-color: #1677FF;
   border-radius: 4px;
   font-size: 12px;
   color: #fff;
   outline: none;
   border: none;
 }


 .radio-btn-container {
   display: flex;
 }
 
 .radio-btn {
   margin: 10px;
   padding: 10px;
   border-radius: 15px;
   background: limegreen;
 }
 .radio-btn:hover {
   margin: 11px;
   padding: 10px;
   border-radius: 15px;
   background: rgb(109, 175, 11);
 }
 

 .form-select {
   width: 200px!important;
   margin-left: 20px;
 }